[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/glslang"]
	path = thirdparty/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "thirdparty/libktx"]
	path = thirdparty/libktx
	url = git@github.com:KhronosGroup/KTX-Software.git
