[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/glslang"]
	path = thirdparty/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "thirdparty/KTX-Software"]
    path = thirdparty/KTX-Software
    url = git@github.com:ux3d/KTX-Software.git
    branch = master
